<div class = "container myBackground no-padding" ng-style="caculateFrame()">
  <nav class="navbar navbar-default myNav">
    <ul style="list-style: none;">
      <li>
        <span class="nav-btn" ui-sref="hobby_index.search" style="cursor: pointer;">首页</span>
      </li>
    </ul>
  </nav>
  <nav class="navbar navbar-default navbar-fixed-bottom myNav-bottom">
  </nav>

  <div layout='row'>
    <div flex="15" class="ad-sideBar" ng-style="getHeight()" >
      <md-list flex>
        <md-subheader class="md-list-header">
        </md-subheader>
        <md-divider ></md-divider>
        <md-list-item class="md-1-line" ng-click="sw_option= 'in_store'">
          <div class="md-list-item-text" layout="column">
            <h4 ng-class="{ 'select_item': sw_option == 'in_store'}">上架中的商品</h4>
          </div>
        </md-list-item>
        <md-list-item class="md-1-line" ng-click="sw_option= 'add_book'">
          <div class="md-list-item-text" layout="column">
            <h4 ng-class="{ 'select_item': sw_option == 'add_book'}">添加商品</h4>
          </div>
        </md-list-item>
        <md-list-item class="md-1-line" ng-click="sw_option= 'order_options'">
          <div class="md-list-item-text" layout="column">
            <h4 ng-class="{ 'select_item': sw_option == 'order_options'}">订单管理</h4>
          </div>
        </md-list-item>
        <md-list-item class="md-1-line" ng-click="sw_option= 'show_store'">
          <div class="md-list-item-text" layout="column">
            <h4 ng-class="{ 'select_item': sw_option == 'show_store'}">库存查看</h4>
          </div>
        </md-list-item>
        <md-divider ></md-divider>
      </md-list>
    </div>
    <div flex='85'>
      <div  ng-if="sw_option == 'in_store'">
        <ul class="mb-list">
          <li ng-repeat = 'book in data.books' class="book-list" >
            <ui-book book = 'book' admin=true></ui-book>
          </li>
        </ul>
      </div>

      <div ng-if="sw_option == 'add_book'">
        <md-tabs md-dynamic-height md-border-bottom>
          <md-tab label="添加">
            <md-content class="md-padding" style="padding-left: 90px;padding-right: 90px;" ng-style="getHeight(40)" >
              <div>
                <div layout-gt-xs="row">
                  <md-input-container class="md-block" flex-gt-xs>
                    <label>书&nbsp;名</label>
                    <input required ng-model="book.name">
                    <div ng-messages="book.name.$error">
                      <div ng-message="required">This is required.</div>
                    </div>
                  </md-input-container>

                  <md-input-container>
                    <label>出版日期</label>
                    <md-datepicker ng-model="book.pubishTime" md-current-view="year"></md-datepicker>
                  </md-input-container>
                </div>

                <div layout-gt-sm="row">
                  <md-input-container class="md-block" flex-gt-sm>
                    <label>出版社</label>
                    <input ng-model="book.pubishHouse">
                  </md-input-container>

                  <md-input-container class="md-block" flex-gt-sm>
                    <label>作者</label>
                    <input ng-model="book.author">
                  </md-input-container>
                </div>

                <div layout-gt-sm="row">
                  <md-input-container class="md-block" flex-gt-sm>
                    <label>价格</label>
                    <input ng-model="book.price">
                  </md-input-container>

                  <md-input-container class="md-block" flex-gt-sm>
                    <label>库存</label>
                    <input type="number" ng-model="book.store">
                  </md-input-container>
                </div>

                <md-input-container class="md-block">
                  <label>介绍</label>
                  <textarea ng-model="book.context" md-maxlength="150" rows="3" md-select-on-focus></textarea>
                </md-input-container>


                <md-chips ng-model="tag.name" readonly="tag.readonly" md-removable="tag.removable" placeholder="添加标签" md-enable-chip-edit="true">
                </md-chips>

                <div class="mb-buy pull-right">
                  <md-button class="md-raised md-warn" ng-click="addBook()">添加</md-button>
                </div>

              </div>
            </md-content>
          </md-tab>
        </md-tabs>
      </div>
      <div ng-if="sw_option == 'order_options'" layout="column">
        <div style="width: 90%; margin: 20px auto;background-color: white;padding: 10px;" ng-repeat="order in data.orderForm" class="md-whiteframe-4dp" layout="column">
          <div layout="row" layout-align="space-between center">
            <div>订单编号:{{order.order_account}}</div>
            <div>用户: {{order.user.name?order.user.name:order.user.email}}</div>
          </div>
          <div class="text-context">
            订单物品:
          </div>
          <md-divider></md-divider>
          <div layout="row" layout-align="space-around center">
            <div style="visibility: none;"></div>
            <div>名称</div>
            <div>数量</div>
            <div>总价</div>
          </div>
          <div layout="row" ng-repeat="book in order.books" layout-align="space-around center" class="text-context">
            <img style="width: 60px;height: 60px;" src="./images/夜莺.jpg" />
            <div>{{book.name}}</div>
            <div>{{book.amount}}</div>
            <div>￥{{book.amount*book.price*book.discount |cut:2}}</div>
          </div>
          <md-divider></md-divider>
          <div layout="row">
            <div class="text-context">状态:</div>
            <div class="text-context" ng-class="{'done-text': order.status=='2','doing-text':order.status=='1'||order.status=='0'}">{{order.status | showOrderStatus }}</div>
          </div>
        </div>
        <div class="text-title" style="text-align: center;margin-top: 100px;" ng-if="data.orderForm.length==0 || !data.orderForm">暂无订单</div>
      </div>
      <div ng-if="sw_option == 'show_store'" layout="column" style="margin:20px;">
        <div class="text-title">库存列表</div>
        <md-divider></md-divider>
        <div style="margin-top: 20px;" layout="row" layout-align="space-around center" class="text-context">
          <div flex="70">书名</div>
          <div flex="10">数量</div>
          <div flex="10">单价</div>
          <div flex="10">折扣</div>
        </div>
        <md-divider></md-divider>
        <div style="" layout="row" ng-repeat="book in data.books" class="text-context" layout-align="space-around center">
          <div flex="70">{{book.name}}</div>
          <div flex="10">{{book.store}}</div>
          <div flex="10">{{book.price}}</div>
          <div flex="10">{{book.discount *10 |cut:2}} 折</div>
        </div>
      </div>
    </div>
  </div>
</div>
